language: python
addons:
    apt:
      packages:
        - cmake
      sources:
        - kalakris-cmake
python:
  - "2.7"
before_install:
  - echo -e "machine github.com\n  login $CI_TOKEN" >> ~/.netrc
install:
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}
  - sudo apt-get install -y gcc-avr binutils-avr avr-libc
  - sudo apt-get install -y gcc-arm-none-eabi
  - sudo apt-get install --only-upgrade gcc-avr binutils-avr avr-libc gcc-arm-none-eabi
  ############################################################################
  # Install a recent CMake
  ############################################################################
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="http://www.cmake.org/files/v3.3/cmake-3.3.2-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
    else
      brew install cmake
    fi
before_script:
  - cd ${TRAVIS_BUILD_DIR}
script:
  - python build.py -t
notifications:
  email: false